@import "table.scss";
@import "variables.scss";
* {
    box-sizing: border-box;
}

.page {
    width: 1440px;
    height: 1000px;
    background-color: #141b1c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

.green-card {
    background-color: $first-block-color;
}

.blue-card {
    background-color: $second-block-color;
}

.orange-card {
    background-color: $third-block-color;
}