@import "table.scss";
@import "variables.scss";
* {
    box-sizing: border-box;
}

.page {
    width: 1400px;
    height: 1000px;
    font-family: "Montserrat", sans-serif;
}

.green-card {
    background-color: $first-block-color;
}

.blue-card {
    background-color: $second-block-color;
}

.orange-card {
    background-color: $third-block-color;
}