@import "variables.scss";
.price-table {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 115px;
}

.price-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: 770px;
    background: #334247;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
    margin-right: 18px;
    &:last-child {
        margin: 0;
    }
    &__title {
        padding-top: 33px;
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
        text-align: center;
        color: #ffffff;
        margin: 0;
    }
    &__subtitle {
        padding-bottom: 33px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
    }
    &__comment {
        position: absolute;
        display: flex;
        justify-content: center;
        border-bottom: 25px solid #dc3f45;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        height: 0;
        width: 147px;
        top: 31px;
        right: -30px;
        transform: rotate(45deg);
    }
    &__comment-text {
        font-weight: 700;
        font-size: 14px;
        line-height: 25px;
        color: #fff;
        margin: auto;
    }
    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 380px;
        height: 105px;
        color: #fff;
        font-weight: 700;
        font-size: 55px;
        line-height: 67px;
    }
    &__description {
        margin: 40px auto;
        width: 327px;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #ffffff;
    }
    &__order-bth {
        margin: auto;
        width: 154px;
        height: 40px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #fff;
        border-radius: 20px;
        border: none;
        margin: 39px 113px 40px 112px;
    }
}

.options-list {
    list-style-type: none;
    width: 100%;
    color: #fff;
    padding: 0;
    &__item {
        display: flex;
        align-items: center;
        height: 50px;
        line-height: 50px;
        font-weight: 300;
        font-size: 15px;
        &:nth-child(odd) {
            background-color: #2a343880;
        }
    }
    &__img {
        margin-left: 22px;
    }
    &__text {
        margin: 0;
        margin-left: 22px;
    }
}